@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    margin :0;
    padding: 0;
    text-decoration: none;
}
.container{
    color: #000000;
    background-color: #4a4a4a;
    background-image: radial-gradient(at 9% 89%, rgba(58, 58, 58, 0.661) 0px, transparent 50%), radial-gradient(at 72% 6%, rgba(147, 145, 158, 0.628) 0px, transparent 50%), radial-gradient(at 24% 19%, rgb(136, 128, 126) 0px, transparent 50%), radial-gradient(at 65% 6%, rgb(91, 22, 15) 0px, transparent 50%), radial-gradient(at 20% 98%, rgb(89, 21, 71) 0px, transparent 50%), radial-gradient(at 44% 9%, rgb(93, 65, 8) 0px, transparent 50%), radial-gradient(at 10% 9%, rgb(62, 81, 9) 0px, transparent 50%);
    min-height: 90vh;
    box-shadow: 5px 5px 10px 5px #0000007c;
}
.nav-menu{
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 30px;
}

.nav-menu ul{
    display: flex;
    column-gap: 90px;
    position: relative;
    top: 15px;
    left: 55px;
    list-style: none;
}

ul a{
    color: #fff;
    transition: all 0.3s ease;
}
ul a:hover{
    color: #000000;
}
.logo{
    color: #fff;
    padding: 25px;
    position: relative;
    left: 120px;
    bottom: 9px;
    cursor: pointer;
}

button{
    background-color: transparent;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    border-color: #2668db5f;
    background-color: #2668db;
}

.text-wrapper{
    justify-content: flex-start;
    top: 20vh;
    left: 20vh;
    font-size: 40px;
    position: relative;

}

.text-wrapper .text-green{
  color: #800d0d;
}

.text-wrapper .text-white{
    left: 200px;
    bottom: 100px;
    position: relative;
}

.text-wrapper p{
    font-size: 20px;
    position: relative;
    bottom: 55px;
}

.text-wrapper img{
    height: 20px;
    cursor: pointer;
}